.nfs*
.*.
*.xml
logs/
log/
*.dat
test/
output/
run.sh
fetch.sh
*.err
*.out
*.pyc
*.zip
dsen/main/tests/*.zip
dsen/main/dist/*
dsen/main/*egg-info*
dsen/main/build/*
config/
tasks
!psen/config/config_dev.sh
!psen/config/config_template.sh
!psen/config/example_config.sh
!dsen/config/config.json
!dsen/config/config_template.json
!tasks/task_template
